
<html>
  <head></head>
  <body>
  <div>
        <a href="http://localhost:9292/albums/new">New album</a>
            <a href="http://localhost:9292/artist/new">New artist</a>


    </div>
  </body>
</html>